[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
[submodule "public/public."]
	path = public/public.
	url = https://github.com/diegoceccarelli/diegoceccarelli.github.io.git
	branch = main
